In [1]:
#딕셔너리 정의하기
#이름 (Key)와 값 (Value)이 쌍을 이루는 자료구조

mydic = {
    "name":"철수", 
    "phone": "010-1234-5678", 
    "birth":"0115"
}
mydic

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [5]:
#특정 원소에 접근하기 -> 직접 출력
print(mydic["name"])

철수

In [6]:
#특정 원소에 접근하기 -> 다른 변수에 복사
phone = mydic["phone"]
print(phone)

010-1234-5678

In [7]:
#특정 원소의 값을 변경
mydic["name"]="호영"
mydic

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

In [8]:
#특정 원소의 값을 삭제하기
# key가 birth인 데이터 삭제
del(mydic["birth"])
mydic

{'name': '호영', 'phone': '010-1234-5678'}

In [9]:
# 리스트 사용 제약
#존재하지 않는 키의 값을 사용하면 에러 
#존재하지 않는 키의 값을 할당하면 확장
mydic["height"]= 175
mydic

{'name': '호영', 'phone': '010-1234-5678', 'height': 175}

In [11]:
#키가 중복될 경우 하나를 제외한 나머지는 무시됨. 
#-> 일반적으로 나중에 정의된 항목이 이전에 정의된 항목을 덮어 씀
data = {"msg":"hello", "msg": "world", "msg": "python"}
print(data['msg'])
data

python

{'msg': 'python'}

In [37]:
#정보의 계층적 표현
#딕셔너리는 리스트나 다른 딕셔너리를 포함할 수 있다. 
#-> 정보를 계층화해서 표현 가능함
addr =["서울","서초구", "강남대로"]
grade = {"korean": 98, "math": 77, "english": 82}

#서로 다른 종류의 데이터를 저장할 수 있다.
member = {
    "userid": "python", # 문자열 데이터
    "age": 20, # 정수형 데이터
    "addr": addr, #리스트 데이터
    "grade": grade
}

member

SyntaxError: invalid syntax (362480733.py, line 12)

In [22]:
#계층화된 값에 접근하기
print(member["addr"] [0])
print(member["grade"]["korean"])

#중간에 쉼표를 안넣어주는 것이 포인트! addr 랑 0 사이에 쉼표 넣으면 모든 정보 다 나온다!

서울
98

In [39]:
#딕셔너리를 원소로 갖는 리스트
#리스트의 원소가 딕셔너리가 되는 경우 --> 표 자료형
grade = [
    {"name": "철수", "kor": 95, "eng":88}, # 0
    {"name": "영희", "kor": 92, "eng":90}, # 1
    {"name": "철민", "kor": 88, "eng":76}  # 2
]


user_list = []

user_1 = {
    "id": 'a',
    "name": '철수'
}
user_2 = {
    "id": 'b',
    "name": '영수'
}

user_list.append(user_1)
user_list.append(user_2)


print(user_list)

# tpl = "{0}의 국어점수:{1}, 영어점수:{2}"
# print(tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]))
# print(tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]))
# print(tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]))

# print(f'{grade[0]["name"]}의 국어점수: {grade[0]["kor"]}, 영어점수: {grade[0]["eng"]}')
# print(f'{grade[1]["name"]}의 국어점수: {grade[1]["kor"]}, 영어점수: {grade[1]["eng"]}')
# print(f'{grade[2]["name"]}의 국어점수: {grade[2]["kor"]}, 영어점수: {grade[2]["eng"]}')

[{'id': 'a', 'name': '철수'}, {'id': 'b', 'name': '영수'}]

In [28]:
tpl = "{0}의 국어점수:{1}, 영어점수:{2}"
print(tpl.format(grade[0]["name"], grade[0]["kor"], grade[0]["eng"]))
print(tpl.format(grade[1]["name"], grade[1]["kor"], grade[1]["eng"]))
print(tpl.format(grade[2]["name"], grade[2]["kor"], grade[2]["eng"]))

철수의 국어점수:95, 영어점수:88
영희의 국어점수:92, 영어점수:90
철민의 국어점수:88, 영어점수:76

In [29]:
#딕셔너리 관련 파이썬 내장함수

point = {"korean":98, "math":77, "english":90}
len(point)

3

In [30]:
#샘플데이터
dic = {"name": "철수", "phone": "010-1234-5678", "birth": "0115"}

#특정 key에 대응하는 값 얻기
#-> dic["name"]과 동일
print(dic.get("name"))

철수

In [31]:
#존재하지 않는 key에 접근하는 경우-->에러
print(dic["gender"])

KeyError: 'gender'

In [32]:
#그러나 get함수를 써서 존재하지 않는 key에 접근하면--> None 반환
print(dic.get("gender"))

None

In [33]:
#get함수는 전달하는 key가 존재하지 않을 경우
#대신 반환될 값을 함께 설정할 수 있다.
print(dic.get("gender", "남자"))

남자

In [34]:
#Key를 분리하기
#key만 모아서 dict_keys라는 객체로 반환
keys = dic.keys()
print(keys)

dict_keys(['name', 'phone', 'birth'])

In [35]:
#dict_keys를 list로 변환
key_list = list(keys)
print(key_list)

key_list1 = list(dic.keys())

['name', 'phone', 'birth']

In [36]:
#변환과정(keys()-->list())을 일괄처리
keyList = list(dic.keys())
keyList

['name', 'phone', 'birth']

In [53]:
# 리스트 실제로 쓰는 법

fruit_list = [ '사과', '바나나', '딸기', '배' ]


# 반복문

#            '사과', '바나나', '딸기', '배'
# for fruit in fruit_list:
#     print(fruit)

# 구구단 출력해보기
# 1. 2단부터 9단까지 있음
# 2. 1 ~ 9 까지 각 단은 곱하기 함

"""
2 x 1 = 2
2 x 2 = 4

..
2 x 8 = 16
2 x 9 = 18

..

9 x 1 = 9
9 x 2 = 18

"""


for i in range(11,20):
    for j in range(1,10):
        result=i*j
        print(f'{i}x{j}={result}')
    print()

11x1=11
11x2=22
11x3=33
11x4=44
11x5=55
11x6=66
11x7=77
11x8=88
11x9=99

12x1=12
12x2=24
12x3=36
12x4=48
12x5=60
12x6=72
12x7=84
12x8=96
12x9=108

13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117

14x1=14
14x2=28
14x3=42
14x4=56
14x5=70
14x6=84
14x7=98
14x8=112
14x9=126

15x1=15
15x2=30
15x3=45
15x4=60
15x5=75
15x6=90
15x7=105
15x8=120
15x9=135

16x1=16
16x2=32
16x3=48
16x4=64
16x5=80
16x6=96
16x7=112
16x8=128
16x9=144

17x1=17
17x2=34
17x3=51
17x4=68
17x5=85
17x6=102
17x7=119
17x8=136
17x9=153

18x1=18
18x2=36
18x3=54
18x4=72
18x5=90
18x6=108
18x7=126
18x8=144
18x9=162

19x1=19
19x2=38
19x3=57
19x4=76
19x5=95
19x6=114
19x7=133
19x8=152
19x9=171